.DS_Store
*.log
*.pid
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/

/runtime/

vendor/server/**/node_modules/
vendor/server/**/dist/
vendor/server/**/runtime/

vendor/android/.gradle/
vendor/android/.idea/
vendor/android/local.properties
vendor/android/**/build/
vendor/android/output/
